<!-- Start Edit Article -->
{% block content %}
{% verbatim %}
<div class="container">
  <h3>Blog Add New Article</h3>
  <!-- Article title -->
  <div class="form-group">
    <label for="articleTitle">Title</label>
    <!-- <input type="text" class="form-control" id="articleTitle"  placeholder="Article title" value="{{currentArticle1.title}}"> -->
    <input type="text" class="form-control" id="articleTitle"  placeholder="Article title" ng-model="newArticle.title"/>
  </div>
  <!-- Article content -->
  <div class="form-group">
    <label for="articleContent">Content</label>
    <!-- <textarea class="form-control" rows="3" id="articleContent" placeholder="Input content" >{{currentArticle1.content}}</textarea> -->
    <textarea class="form-control" rows="3" id="articleContent" placeholder="Input content"  ng-model="newArticle.content" ></textarea>
  </div>
  <div class="form-group">
    <label for="photoFile">Photo File</label>
    <input type = "file" file-model = "photoFile"/>
  </div>
  <div class="form-group">
    <label for="tags">Article Tags</label>
    <tags-input ng-model="tags" on-tag-added="addTags()" on-tag-removed="removeTags()"></tags-input>
  </div>
  
  <div class="form-group">
  <button  class="btn btn-default" ng-click="createArticle(newArticle)" >Submit</button>

  </div>
</div>
<!-- END Edit Article -->
{% endverbatim %}
{% endblock %}