<!-- Start Edit Article -->
{% load staticfiles %}
{% block content %}
{% verbatim %}
<div class="container">
  <h3>Edit Article {{currentArticle1.title}}</h3>
  <!-- Article title -->
  <div class="form-group">
    <label for="articleTitle">Title</label>
    <!-- <input type="text" class="form-control" id="articleTitle"  placeholder="Article title" value="{{currentArticle1.title}}"> -->
    <input type="text" class="form-control" id="articleTitle"  placeholder="Article title" ng-model="currentArticleEdit.title"/>
  </div>
  <!-- Article content -->
  <div class="form-group">
    <label for="articleContent">Content</label>
    <!-- <textarea class="form-control" rows="3" id="articleContent" placeholder="Input content" >{{currentArticle1.content}}</textarea> -->
    <textarea class="form-control" rows="3" id="articleContent" placeholder="Input content"  ng-model="currentArticleEdit.content" ></textarea>
  </div>

  <div class="form-group">
    <label for="tags">Article Tags</label>
    <tags-input ng-model="tags" on-tag-added="addTags()" on-tag-removed="removeTags()"></tags-input>
  </div>
  
  <div class="form-group">
  <img src="/media/{{currentArticleEdit.id}}_{{photo}}" class=".img-thumbnail" alt="Cinque Terre" ng-repeat="photo in currentArticleEdit.photos" style="width:150px;height:150px">
  </div>

  <div class="form-group">
  <button  class="btn btn-default" ng-click="submitEdit(currentArticleEdit)" >Submit</button>

  </div>
</div>
<!-- END Edit Article -->
{% endverbatim %}
{% endblock %}